<section>
  <project-intro [select]="'tim'"></project-intro>
  <div class="Picture-ContainerWithDescription">
    <img class="Project-PictureMobile--small" src="../../../assets/images/tim-navigation.png" alt="Home screen of Frozen Sea on an iPhone 7" style="align-self: flex-start">
    <div class="Project-PictureDescription">
      <div class="Project-PictureDescriptionParagraph">
        <h3>Design</h3>
        <p>TIM turns static process models into an automated human workflow.</p>
      </div>
      <div class="Project-PictureDescriptionParagraph">
        <h3>Automate</h3>
        <p>Keep track of your instances at all times in My Instances. Finish your tasks on the fly in My Tasks</p>
      </div>
      <div class="Project-PictureDescriptionParagraph">
        <h3>Improve</h3>
        <p>A picture is worth more than thousand words. Visualize key performance indicators with custom visualizations.</p>
      </div>
    </div>
  </div>
  <div class="Picture-Container Background-light">
    <h3>Design</h3>
    <img class="Project-Picture" src="../../../assets/images/tim-mailbox.png" alt="Mailbox in TIM One of a Kind">
    <div class="Picture-Caption">TIM's integrated messaging service makes collaboration on processes a breeze.</div>
  </div>
  <div class="Picture-Container Background-tim">
    <h3>Automate</h3>
    <img class="Project-Picture" src="../../../assets/images/tim-tasklist.png" alt="The task list in TIM's My Tasks view">
    <div class="Picture-Caption" style="color: #fff;">TIM's conditional highlighting always shows the most critical tasks first.</div>
  </div>
  <div class="Picture-Container Background-light">
    <h3>Improve</h3>
    <img class="Project-Picture" src="../../../assets/images/tim-dashboard.png" alt="Create customizable dashboards with key performance indicators">
    <div class="Picture-Caption">Use key performance indicators to create customizable dashboards for the next reporting.</div>
  </div>
  <div class="Picture-Container">
    <h3>From excel sheets to working prototypes</h3>
    <p class="Section-Description">Creating TIM One of a kind included much more than designing interfaces in Sketch. Satisfying our users' needs while providing great UX required an extensive requirements analysis and countless hours of user testing.
      <br><br>However, the end result and the positive feedback of our customers makes all the effort worthwile. If you are interested, check out this <a href="src/assets/files/tim-concept.pdf" download>teaser of TIM One of a kind.</a></p>
    <img class="Project-Picture" src="../../../assets/images/tim-teaser.png" alt="Create customizable dashboards with key performance indicators">
    <div class="Picture-Caption">Check out this short teaser for more detailed information about TIM One of a kind.</div>
  </div>
  <project-navigation [index]="5" [previous]="'social-ride'" [next]="'roommate'"></project-navigation>
  <app-footer [project]="'tim'"></app-footer>
</section>


