<section class="Footer"
         [ngClass]="{'Footer-Roommate': roommate, 'Footer-Frozen': frozen, 'Footer-Festival': festival, 'Footer-SocialRide': socialride, 'Footer-BuntesDeutschland': buntes, 'Footer-Tim': tim}">

  <div class="Footer-Navigation">
    <ul class="navigation o-list-inline">
      <li class="o-list-inline__item" (click)="navigateToHome()"><a>Work</a></li>
      <li class="o-list-inline__item" (click)="navigateToAbout()"><a>About</a></li>
      <li class="o-list-inline__item" (click)="navigateToContact()"><a>Contact</a></li>
    </ul>
  </div>
  <div class="Footer-Copyright">
    <div (click)="navigateToLegalNotice()">Copyright © Jan Mayer 2018 - Legal notice</div>
  </div>

</section>
