@import "../../../../node_modules/sass-mq/mq";

.Contact-Content {
  display: flex;
  margin: auto;
  flex-flow: column wrap;

  @include mq($until: tablet) {
    width: 300px;
    margin-top: 2.5rem;
    justify-content: center;
  }

  @include mq($from: tablet, $until: desktop) {
    width: 640px;
    margin-top: 2.5rem;
  }

  @include mq($from: desktop, $until: wide) {
    width: 960px;
    margin-top: 2.5rem;
  }

  @include mq($from: wide) {
    width: 1170px;
    margin-top: 4rem;
  }
}

form {
  display: flex;
  flex-direction: column;

  .Contact-inputText {
    max-width: 600px;
    padding-left: .5rem;
  }

  input, textarea {
    margin: .5rem 0 2.5rem 0;
    border: 1px solid #212121;
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

  input {
    height: 2.5rem;
  }

  input[type=submit] {
    max-width: 8rem;
    background: #ffffff;
    cursor: pointer;

    &:hover {
      background-color: #212121;
      color: #ffffff;
    }
  }


  textarea {
    padding-top: .5rem;
  }
}
