<section>

  <div class="Contact-Content">
    <div>
      <h1>If you would like to connect, drop me a line or two</h1>
      <p>
        I am always interested in getting in touch with fellow developers/designers.
        As I am about to finish my Masters, I am also looking for interesting projectscd and job opportunities.
      </p>
      <form *ngIf="!messageSent">
        <label for="fullName">Your full name</label>
        <input class="Contact-inputText"
               name="fullName"
               type="text"
               id="fullName"
               required
               [(ngModel)]="message.name"/>
        <label for="email">Your email address</label>

        <input type="email" class="Contact-inputText" id="email"
               name="email"
               required
               [(ngModel)]="message.email"/>
        <label for="phone">Your phone number (optional)</label>

        <input
          class="Contact-inputText"
          name="phone"
          type="tel"
          id="phone"
          required
          [(ngModel)]="message.phone"/>
        <label for="content">Message</label>

        <textarea
          rows="7"
          class="Contact-inputText"
          name="content"
          id="content"
          required
          [(ngModel)]="message.content"></textarea>

        <input type="submit" class="Contact-input" (click)="sendMessage()"/>
      </form>

      <div *ngIf="messageSent">
        <p>Thank for your message. I will respond as soon as possible.</p>
      </div>

    </div>
  </div>

  <app-footer [project]="'frozen'"></app-footer>

</section>
