<section>

  <div class="Contact-Content">
    <div>
      <h1>Hey there, I am Jan</h1>
      <p>
        I am a user experience designer and web developer from Munich. I love cooking, hiking and of course well-crafted software. Currently I am pursuing a Master's degree in human computer interaction at the Ludwigs-Maximilian University.
        <br><br>
        Besides my studies, I had the chance to work at a few different companies from startups to large corporations.
      </p>
    </div>
  </div>

</section>
