@import "../../../node_modules/sass-mq/mq";


.container {

  display: flex;
  margin: auto;
  align-items: center;
  flex-flow: row wrap;

  .picture {

    flex: 1;

    img {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;

      @include mq($from: desktop) {

        width: map-get($mq-breakpoints, desktop) / 4;
        height: map-get($mq-breakpoints, desktop) / 4;

      }

      @include mq($until: mobile) {

        width: map-get($mq-breakpoints, mobile) / 4;
        height: map-get($mq-breakpoints, mobile) / 4;

      }

    }

  }

  .quote {
    flex: 3;

    h1 {
      font-weight: 200;
    }

    p {
      margin-top: 2rem;
      font-size: 20px;
      font-weight: 400;
    }
  }
}

@include mq($from: wide) {

  .container {
    width: 1170px;
    margin-top: 4rem;
  }

  .quote {
    padding-left: 1.5rem;
  }

}

@include mq($until: tablet) {

  .container {
    width: 320px;
    flex-flow: column wrap;
    margin-top: 1.5rem;

    .picture {
      flex: 1;
    }

    .quote {
      flex: 1 100%;
      margin-top: 1.5rem;

      h1 {
        font-size: 20px;
        font-weight: 400;
      }

      p {
        font-size: 16px;
      }

    }

  }
}


