<section>

  <div class="About-HeaderImage">
    <img src="../../../assets/images/about-header.jpg" alt="Jan Mayer at Lake Pukaki in New Zealand">
  </div>
  <div class="About-Content">
    <div class="About-Intro">
      <h1>Hey there, I am Jan</h1>
      <p>
        I am a user experience designer and web developer from Munich. I love cooking, hiking and of course well-crafted software. Currently I am pursuing a Master's degree in human computer interaction at the Ludwigs-Maximilian University.
        <br><br>
        Besides my studies, I had the chance to work at a few different companies from startups to large corporations.
      </p>
    </div>

    <div class="About-WorkExperiences">
      <h3>Work experience</h3>
      <div class="About-WorkExperience" *ngFor="let work of workExperience">
        <img [src]="work.image">
        <div class="About-WorkExperienceDescription">
          <h3>{{ work.title }}</h3>
          <h4>{{ work.duration }}</h4>
          <p>{{ work.description }}</p>
          <ul>
            <li *ngFor="let task of work.tasks">{{ task }}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="About-WorkExperiences">
      <h3>Legal notice (Haftungsausschluss)</h3>
      <p class="About-legalNotice">
        <strong>Accountability for content</strong><br>
        The contents of my pages have been created with the utmost care. However, I cannot guarantee the contents' accuracy, completeness or topicality.
        According to statutory provisions, I are furthermore responsible for our own content on these web pages.
        In this context, please note that I are accordingly not obliged to monitor merely the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity.
        Our obligations to remove or block the use of information under generally applicable laws remain unaffected by this as per §§ 8 to 10 of the Telemedia Act (TMG).
      </p>
      <p class="About-legalNotice">
        <strong>Accountability for links</strong><br>
        Responsibility for the content of external links (to web pages of third parties) lies solely with the operators of the linked pages.
        No violations were evident to us at the time of linking.
        Should any legal infringement become known to me, I will remove the respective link immediately.
      </p>
      <p class="About-legalNotice">
        <strong>Copyright</strong>
        My web pages and their contents are subject to German copyright law. Unless expressly permitted by law (§ 44a et seq. of the copyright law), every form of utilizing, reproducing or processing works subject to copyright protection on my web pages requires the prior consent of the respective owner of the rights.
        Individual reproductions of a work are allowed only for private use, so must not serve either directly or indirectly for earnings.
        Unauthorized utilization of copyrighted works is punishable (§ 106 of the copyright law).
      </p>
    </div>
  </div>

  <app-footer [project]="'frozen'"></app-footer>

</section>
