<section>

  <div class="About-HeaderImage">
    <img src="../../../assets/images/about-header-image-2.jpg" alt="Jan Mayer in Porto, Portugal">
  </div>
  <div class="About-Content">
    <div class="About-Intro">
      <h1>Hey there, I am Jan</h1>
      <p>I am a user experience designer and web developer from Munich. I love cooking, hiking and of course well-crafted software. Currently I am pursuing a Master's degree in human computer interaction at the Ludwigs-Maximilian University.<br><br>Besides my studies, I had the chance to work at a few different companies from startup to a large corporation.</p>
    </div>
    <div class="About-WorkExperiences">
      <h3>Work experience</h3>
      <div class="About-WorkExperience" *ngFor="let work of workExperience">
        <img [src]="work.image">
        <div class="About-WorkExperienceDescription">
          <h3>{{ work.title }}</h3>
          <h4>{{ work.duration }}</h4>
          <p>{{ work.description }}</p>
          <ul>
            <li *ngFor="let task of work.tasks">{{ task }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>
