<section>

  <project-intro [select]="'frozen-sea'"></project-intro>
  <div class="Picture-Container">
    <img class="Project-Picture" src="../../../assets/images/frozen-sea-login.png" alt="Login screen of Frozen Sea">
    <div class="Picture-Caption">Login screen of Frozen Sea</div>
  </div>
  <app-project-stats></app-project-stats>
  <div class="Picture-Container Background-light">
    <h3>All studies at a glance</h3>
    <img class="Project-Picture" src="../../../assets/images/frozen-sea-home.png" alt="Home screen of Frozen Sea">
    <div class="Picture-Caption">Home screen of Frozen Sea</div>
  </div>
  <div class="Picture-Container--multiple">
    <h3 class="Picture-Heading--multiple">Create and edit studies on the go</h3>
    <img class="Project-PictureMobile--small" src="../../../assets/images/frozen-home-mobile.png" alt="Home screen of Frozen Sea on an iPhone 7">
    <img class="Project-PictureMobile--small" src="../../../assets/images/frozen-create-mobile.png" alt="Creating a study in Frozen Sea on an iPhone 7">
    <img class="Project-PictureMobile--small" src="../../../assets/images/frozen-edit-mobile.png" alt="Editing a study in Frozen Sea on an iPhone 7">
    <div class="Picture-Caption">Frozen Sea's responsive UI ensures easy handling on any device</div>
  </div>
  <project-navigation [index]="2" [previous]="'schips'" [next]="'buntes-deutschland'"></project-navigation>

</section>
