<section>
  <project-intro [select]="'buntes-deutschland'"></project-intro>
  <div class="Picture-Container">
    <img class="Project-Picture" src="../../../assets/images/buntes-deutschland-home.png" alt="Home screen of the Buntes Deutschland website">
    <div class="Picture-Caption">Home screen of the Buntes Deutschland website</div>
  </div>
  <div class="Picture-Container Background-light">
    <h3>Colorful stickers against right-wing extremists and xenophobia</h3>
    <img class="Project-Picture" src="../../../assets/images/buntes-deutschland-sticker.png" alt="Buntes Deutschland sticker">
    <div class="Picture-Caption">Frozen Sea's responsive UI ensures easy handling on any device</div>
  </div>
  <div class="Picture-Container">
    <h3>A protest march for diversity in Germany</h3>
    <img class="Project-Picture" style="align-self: flex-start" src="../../../assets/images/buntes-deutschland-demo.png" alt="Poster for a Buntes Deutschland demonstration">
    <div class="Picture-Caption">Poster for a Buntes Deutschland demonstration</div>
  </div>
  <project-navigation [index]="3" [previous]="'frozen-sea'" [next]="'social-ride'"></project-navigation>
  <app-footer [project]="'buntes'"></app-footer>

</section>
