<section>
  <project-intro [select]="'frozen-sea'"></project-intro>
  <div class="Picture-Container">
    <h3 style="margin-bottom: 0">Why hydroponics?</h3>
    <p>
      Lagos, the capital of Nigeria, is home to 21 million people. In low-income areas such as the Apapa neighbourhood, people do not always have access to fresh produce and fruits, which are vital for a balanced diet. As a result, malnutritions is common among Lagos’ poorer citizens.
      <br><br>
      WeSprout is a low-tech hydroponics starter kit that empowers low-income households in Lagos to grow leafy greens and vegetables in their home.
    </p>
    <img class="Project-Picture" src="../../../assets/images/wesprout-lagos-above.png" alt="Home screen of Frozen Sea">
    <div class="Picture-Caption">Bird's eye-view of urban gardens in the Apapa neighbourhood in Lgaos, Nigeria.</div>
  </div>
  <div class="Picture-Container--multiple Background-light">
    <h3 style="margin-bottom: 0">Financing WeSprout</h3>
    <p>
      Giving out hydroponics starter kits in Lagos does not come cheap. To finance the WeSprout initiative, we came up with two sources of revenue. First, the WeSprout starter kit is available for retail in Germany. For each starter kit sold in Germany, we donate one starter kit to a person in need in Lagos. Second, we provide the WeSprout app - an online community platform for all-things hydroponics.
    </p>
    <img class="Project-PictureMobile--small" src="../../../assets/images/wesprout-image-1.png" alt="Home screen of Frozen Sea on an iPhone 7">
    <img class="Project-PictureMobile--small" src="../../../assets/images/wesprout-image-2.png" alt="Creating a study in Frozen Sea on an iPhone 7">
    <img class="Project-PictureMobile--small" src="../../../assets/images/wesprout-image-3.png" alt="Editing a study in Frozen Sea on an iPhone 7">
    <div class="Picture-Caption">The WeSprout community connects urban farmers in Lagos and Munich.</div>
  </div>
  <div class="Picture-Container--multiple Background-light">
    <h3>Built at EIT Food with Adobe XD and lots of Club Mate</h3>
    <img class="Picture-Angular" src="../../../assets/vectors/angular.svg" alt="Frozen Sea is built with Angular">
    <img class="Picture-LoopBack" src="../../../assets/images/loopback.png" alt="Frozen Sea is built with Loopback">
    <img class="Picture-ClubMate" src="../../../assets/images/club-mate.png" alt="And lots of Club Mate">
  </div>
  <project-navigation [index]="2" [previous]="'festival'" [next]="'buntes-deutschland'"></project-navigation>
  <app-footer [project]="'frozen'"></app-footer>
</section>
