<section>

  <project-intro [select]="'frozen-sea'"></project-intro>
  <div class="Picture-Container">
    <img class="Project-Picture" src="../../../assets/images/frozen-sea-login.png" alt="Login screen of Frozen Sea">
    <div class="Picture-Caption">Login screen of Frozen Sea</div>
  </div>
  <app-project-stats [select]="'frozen-sea'"></app-project-stats>
  <div class="Picture-Container Background-light">
    <h3>All studies at a glance</h3>
    <img class="Project-Picture" src="../../../assets/images/frozen-sea-home.png" alt="Home screen of Frozen Sea">
    <div class="Picture-Caption">Home screen of Frozen Sea</div>
  </div>
  <div class="Picture-Container--multiple">
    <h3>Create and edit studies on the go</h3>
    <img class="Project-PictureMobile--small" src="../../../assets/images/frozen-home-mobile.png" alt="Home screen of Frozen Sea on an iPhone 7">
    <img class="Project-PictureMobile--small" src="../../../assets/images/frozen-create-mobile.png" alt="Creating a study in Frozen Sea on an iPhone 7">
    <img class="Project-PictureMobile--small" src="../../../assets/images/frozen-edit-mobile.png" alt="Editing a study in Frozen Sea on an iPhone 7">
    <div class="Picture-Caption">Frozen Sea's responsive UI ensures easy handling on any device</div>
  </div>
  <div class="Picture-Container--multiple Background-light">
    <h3>Build with Angular, LoopBack, and lots of Club Mate</h3>
    <img class="Picture-LoopBack" src="../../../assets/vectors/angular.svg" alt="Frozen Sea is built with Angular">
    <img class="Picture-LoopBack" src="../../../assets/images/loopback.png" alt="Frozen Sea is built with Loopback">
    <img class="Picture-ClubMate" src="../../../assets/images/club-mate.png" alt="And lots of Club Mate">
  </div>
  <project-navigation [index]="2" [previous]="'festival'" [next]="'buntes-deutschland'"></project-navigation>
  <app-footer [project]="'frozen'"></app-footer>
</section>
