<section>
  <project-intro [select]="'fino'"></project-intro>
  <div class="Picture-Container">
    <h3>Food waste in restaurants</h3>
    <p style="margin-top: 0;">To better understand food waste in the restaurant industry, I conducted semi-structured interviews with chefs and restaurant managers from 8 restaurants in Brisbane and Melbourne. Through the user research, it became clear that procurement is a complex, time-consuming, and error-prone process that can lead to significant food waste when done poorly.</p>
    <img class="Project-Picture" src="../../../assets/images/fino-journey-map.png" alt="A journey map, listing important steps in the procurement process.">
    <div class="Picture-Caption">User research informed a journey map, listing important steps in the procurement process.</div>
  </div>
  <div class="Picture-Container Background-light">
    <h3>Prototype development</h3>
    <p style="margin-top: 0;">Collaborating with chefs from the Brisbane area, I developed the Fino prototype with three objectives in mind: provide relevant data throughout the procurement process, automate time-consuming tasks, and empower less-experienced employees to do procurement.</p>
    <img class="Project-Picture" src="../../../assets/images/fino-create-menu.png" alt="Fino's recipe book.">
    <div class="Picture-Caption">Example view: All recipe's are listed in Fino's recipe view.</div>
  </div>
  <div class="Picture-Container">
    <h3>Putting Fino to the test</h3>
    <p style="margin-top: 0;">To evaluate whether Fino can help reduce food waste, we rolled out the software in two participating restaurants in Brisbane. Follow-up interviews showed that Fino reduced the time spent ordering, improved chefs confidence in order amounts, and allowed less-experienced employees to place orders.</p>
    <img class="Project-Picture" src="../../../assets/images/fino-evaluation.png" alt="Evaluating fino at Otto Restaurant in Brisbane.">
    <div class="Picture-Caption">Evaluating fino at Otto Restaurant in Brisbane.</div>
  </div>
  <div class="Picture-Container--multiple Background-light">
    <h3>Build with Angular, GraphQL, and lots of Australian Coffee</h3>
    <img class="Picture-Angular" src="../../../assets/vectors/angular.svg" alt="Fino is built with Angular">
    <img class="Picture-Angular" src="../../../assets/images/graphql.png" alt="Fino is built with GraphQL">
    <img class="Picture-ClubMate" src="../../../assets/images/coffee-supreme.png" alt="And lots of Coffee">
  </div>
  <project-navigation [index]="2" [previous]="'festival'" [next]="'buntes-deutschland'"></project-navigation>
  <app-footer [project]="'frozen'"></app-footer>
</section>
