<section>

  <project-intro [select]="'festival'"></project-intro>
  <div class="Picture-Container">
    <img class="Project-Picture" src="../../../assets/images/festival-grey-16-9.png" alt="Festival für unangepasste Kunst poster">
    <div class="Picture-Caption">A poster for the festival</div>
  </div>
  <div class="Picture-Container--multiple Background-light">
    <h3>Democracy, power, and participation</h3>
    <img class="Project-PictureMobile--small" src="../../../assets/images/festival-artist-mobile.png" alt="A detail view about an artist in the festival app">
    <img class="Project-PictureMobile--small" src="../../../assets/images/festival-ar-mobile.png" alt="The app uses augmented reality to provide infos about art pieces">
    <img class="Project-PictureMobile--small" src="../../../assets/images/festival-artists-mobile.png" alt="A list of artists participating in the festival">
    <div class="Picture-Caption">The app design captures the unadjusted spirit of the festival</div>
  </div>
  <div class="Picture-Container">
    <img class="Project-Picture" src="../../../assets/images/festival-16-9.jpg" alt="Festival für unangepasste Kunst poster">
    <div class="Picture-Caption">A poster for the festival</div>
  </div>
  <div class="Picture-Container--multiple Background-light">
    <h3>Build with Angular, Ionic, and Sketch</h3>
    <img class="Picture-LoopBack" src="../../../assets/images/angular.svg" alt="The festival app is built with Angular">
    <img class="Picture-LoopBack" src="../../../assets/images/ionic-logo.png" alt="The festival app is built with Ionic">
    <img class="Picture-ClubMate" src="../../../assets/images/sketch.png" alt="And Sketch">
  </div>
  <project-navigation [index]="1" [next]="'frozen-sea'"></project-navigation>
  <app-footer [project]="'festival'"></app-footer>

</section>
