///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$global-radius: 3px !default;
$global-transition: (1/3) + s !default;

// Background colors
$background-light: #fff;
$background-grey: #f6f6f6;

// Component colors
$roommate-accent: #263238;
$frozen-accent: #FFAB40;

// Text colors
$text-body: #212121;
$text-body-light: #757575;

