///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$global-radius: 3px !default;
$global-transition: (1/3) + s !default;

// Background colors
$background-light: #fff;
$background-grey: #f6f6f6;

// Component colors
$roommate-accent: #263238;
$roommate-accent-light: #40C4FF;
$frozen-accent: #FFAB40;
$festival-accent: #FF5252;
$socialRide-accent: lighten(#702632, 10%);
$socialRide-primary: lighten(#1c2541, 10%);
$buntesDeutschland-primary: #EC407A;
$tim-primary: #4CAF50;
$tim-accent: #212121;



  // Text colors
$text-body: #212121;
$text-body-light: #757575;

