@import '../../../../node_modules/sass-mq/mq';

.Navigation {
  margin: 0 1.5rem;
  display: flex;
  flex-flow: row wrap;

  li {

    cursor: pointer;
    text-decoration: none;
    display: block;
    font-size: 1.25rem;
    padding: 1.5rem 0;

    &:hover:not(:first-of-type) {
      color: lighten(black, 10%);
    }

    @include mq($from: desktop) {
      &:first-of-type {
        margin-right: auto;
        padding: 1.5rem;
      }
    }
  }
}

.Navigation--desktop {
  display: none;

  @include mq($from: desktop) {
    display: block;
  }

}

.Navigation--mobile {
  display: block;

  @include mq($from: desktop) {
    display: none;
  }

}
