<!-- START main navigation -->
<nav class="DesktopNavigation">

  <ul class="TopNavigation o-list-inline">
    <li class="o-list-inline__item" (click)="navigateToHome()"><img class="TopNavigation-Logo" src="../../../assets/images/logo-portfolio.png">Jan Mayer</li>
    <li class="o-list-inline__item" (click)="navigateToHome()">Work</li>
    <li class="o-list-inline__item" (click)="navigateToAbout()">About</li>
  </ul>

</nav>

<nav class="MobileNavigation">

  <ul class="TopNavigation o-list-inline">
    <li class="o-list-inline__item" (click)="openSideNavigation()"><img class="TopNavigation-Logo" src="../../../assets/images/logo-portfolio.png">Jan Mayer</li>
  </ul>

  <div class="MobileNavigation-SideNav" id="sideNav">
    <ul>
      <li class="o-list-inline__item" (click)="navigateToHome()"><img class="TopNavigation-Logo" src="../../../assets/images/logo-portfolio.png">Jan Mayer</li>
      <li class="o-list-bare" (click)="navigateToHome()">Work</li>
      <li class="o-list-bare" (click)="navigateToAbout()">About</li>
    </ul>
  </div>

  <div class="MobileNavigation-SideNavOverlay" id="sideNavOverlay" (click)="closeSideNavigation()"></div>

</nav>


