@import "../../../../node_modules/sass-mq/mq";
@import "../../../styles/settings/settings.global";

.Background-light {
  margin-top: 0;
  background-color: $background-light;
}

.Background-accent {
  margin-top: 0;
  background-color: $roommate-accent;
}
