@import "../../../../node_modules/sass-mq/mq";

.Roommate-Pictures {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 4rem 5vw;
  background-color: #f6f6f6;

  @include mq($from: desktop) {
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 4rem;
  }

  @include mq($from: wide) {
    padding-left: 25vw;
    padding-right: 25vw;
  }
}

.Roommate-Pictures--accent {
  @extend  .Roommate-Pictures;

  background-color: #263238;
}

.Roommate-Pictures--multiple {
  @extend .Roommate-Pictures;

  background-color: #fff;
  flex-direction: row;
  justify-content: space-between;
}

.Roommate-Picture {
  display: flex;
  align-self: center;
}

.Roommate-Picture--large {
  @extend .Roommate-Picture;

  @include mq($from: wide) {
    width: 405px;
    height: 800px;
  }
}

.Roommate-Picture--small {
  @extend .Roommate-Picture;

  @include mq($from: wide) {
    width: 16rem;
    height: 31.625rem;
  }
}
