<section>

  <project-intro [select]="'roommate'"></project-intro>

  <div class="Picture-Container">
    <img class="Project-PictureMobile--large" src="../../../assets/images/iphone-roommate.png" alt="Login screen of roommate">
  </div>
  <div class="Picture-Container--multiple Background-light">
    <h3 class="Picture-Heading--multiple">Your next roommate first, mobile second</h3>
    <img class="Project-PictureMobile--small" src="../../../assets/images/iphone-roommate-2.png" alt="Selection screen of roommate">
    <img class="Project-PictureMobile--small" src="../../../assets/images/iphone-roommate-3.png" alt="Profile of a roommate user">
    <img class="Project-PictureMobile--small" src="../../../assets/images/iphone-roommate-4.png" alt="Profile of a shared apartment in roommate">
  </div>
  <div class="Picture-Container Background-accent">
    <h3 class="light">Beautiful apartments, beautiful roommates</h3>
    <img class="Project-Picture" src="../../../assets/images/roommate-ad.png" alt="Advertisement for roommate">
  </div>

  <project-navigation [index]="6" [previous]="'tim'"></project-navigation>
  <app-footer [project]="'roommate'"></app-footer>
</section>
