<section>

  <project-intro [select]="'roommate'"></project-intro>

  <div class="Roommate-Pictures">
    <img class="Roommate-Picture--large" src="../../../assets/images/iphone-roommate.png" alt="Login screen of roommate">
  </div>
  <div class="Roommate-Pictures--multiple">
    <img class="Roommate-Picture--small" src="../../../assets/images/iphone-roommate-2.png" alt="Selection screen of roommate">
    <img class="Roommate-Picture--small" src="../../../assets/images/iphone-roommate-3.png" alt="Profile of a roommate user">
    <img class="Roommate-Picture--small" src="../../../assets/images/iphone-roommate-4.png" alt="Profile of a shared apartment in roommate">
  </div>
  <div class="Roommate-Pictures--accent">
    <h3 class="light">Beautiful apartments, beautiful roommates</h3>
    <img class="Roommate-Picture" src="../../../assets/images/roommate-ad.png" alt="Advertisement for roommate">
  </div>

  <project-navigation [index]="6" [previous]="'tim'"></project-navigation>

</section>
